/** Insert your code here **/

ul li {
	color: red !important;
}

ol li:nth-child(2) {
	background-color: green;
}

tr:nth-child(odd) {
	background: yellow;
}

/*********** READ ONLY BLOCK ******
You CANNOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}
