/* add your styles here */
body {
	background-image: url(../../.learn/assets/background-vertical.jpg?raw=true);
	background-repeat: repeat-y;
	font-family: "Times New Roman";
	padding-left: 20px;
}

h1 {
	font-family: "Courier";
	color: red;
}

h2 {
	text-decoration: underline;
}

#id1 {
	background-color: white;
	opacity: 0.2;
	padding: 5px;
}

a:hover {
	color: green;
	text-decoration: none;
}
