.what {
	width: 50px;
	height: 50px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 190px;
	padding-bottom: 50px;
	/* padding: 10px 30px 50px 190px; */
	background: rgb(189, 189, 189);
	background-image: url(https://assets.breatheco.de/apis/img/funny/baby.jpg);
	background-position-x: 100px;
	background-repeat: no-repeat;
	background-size: contain;
}
