/* add your styles here */
body {
	background: url("../../.learn/assets/background-vertical.jpg?raw=true") repeat-y;
	font-family: "Times New Roman";
	padding-left: 20px;
}

#id1 {
	background: rgba(255, 255, 255, 0.2);
	padding: 5px;
}

h1 {
	font-family: "Courier";
	color: red;
}

h2 {
	text-decoration: underline;
}

a:hover {
	color: green;
	text-decoration: none;
}
