/* add your styles here */
body {
	background-image: url(../../.learn/assets/background-vertical.jpg?raw=true);
	background-size: cover;
	background-repeat: repeat-y;
	font-family: "Times New Roman", Times, serif;
	padding-left: 20px;
}

h1 {
	font-family: Courier;
	color: red;
}

h2 {
	text-decoration: underline;
}

#id1 {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px;
}

a:hover {
	text-decoration: none;
	color: green;
}
