.orange-btn {
	/*your code here*/
	padding: 10px;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	background: orange;
}

.orange-btn:hover {
	/*YOUR CODE HERE FOR THE HOVER STATE*/
	background: darkorange;
}
